<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<nav class="navbar" id="navbar">
    <img src="../images/logo.png" alt="Mid-Mountain" class="nav-logo">
    <ul class="nav-links">
        <li><a href="../importantPages/index.html">Home</a ></li>
        <li><a href="../importantPages/subsystems.html">Subsystems</a ></li>
        <li><a href="../subsystem4/main.html">Finance</a ></li>
        <li><a href="../pages/About.html">About</a ></li>
        <li><a href="../pages/Contact.html">Contact</a ></li>
    </ul>
    <button class="nav-book-btn" onclick="window.location.href='booking.html'">Book a Table</button>
</nav>
</body>
</html>

